body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 90px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    height: 100%; 
    display: flex;
    align-items: center;
}

.links-item {
    text-transform: capitalize;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20px;
    margin-right: 38px;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    transition: .3s;  
}

.links-item:hover {
    border-bottom: 3px solid rgba(80, 148, 242, 0.5);
}

.links-item-active {
    border-bottom: 3px solid #5094f2;
}

.links-item:last-child {
    margin-right: 0;
}

/* .temp {
    margin-right: 0;
} */

.banner {
    width: 100%;
    height: 480px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover; /*заполнить всю область*/
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    box-sizing: border-box;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right {
    transform: rotate(180deg); /*Разворот на 180 градусов*/
}

.arrow {
    transition: .4s;
    cursor: pointer;
}

.arrow-right:hover {
    transform: scale(1.3) rotate(180deg);/*увеличиваем размуер*/
}

.arrow-left:hover {
    transform: scale(1.3);
}

.text {
    color: white;
    font-size: 26px;
    margin-left: 100px;
    display: flex;
    flex-direction: column; /*содержимое в колонку по умолчанию row*/
}

.text-big {
    font-size: 42px;
    margin-bottom: 25px;
}

.text-small {
    line-height: 45px; /* растояние между строками*/
}

.button {
    width: 170px;
    height: 40px;
    background: #5094f2;
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: 40px;
}

.button-img {
    margin-right: 10px;
}

/*services*/


.services {
    width: 100%;
    height: 410px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-item {
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background: #5094f2;
}

.red {
    background: #d94748;
}

.yellow {
    background: #ebbb11;
}

.service-title {
    color: #5094f2;
    font-size: 20px;
}

.service-desc {
    font-size: 14px;
    color: #909090;
    text-align: center;
}

/*cart*/

.cart {
    width: 100%;
    height: 430px;
    box-sizing: border-box;
    padding: 0 180px 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title {
    font-size: 42px;
    color: #6f7173;
    margin-bottom: 34px;
}

.cart-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 90px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    box-sizing: border-box;
}

.info-title {
    font-size: 26px;
    color: #6f7173;
    margin-bottom: 36px;
}

.info-text {
    font-size: 15px;
    color: #909090;
    line-height: 40px;
    letter-spacing: -1px; /*отступ между буквами*/
}

/*footer*/

.footer {
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
}

.footer__text {
    font-size: 15px;
    color: #b9b9b9;
}

